

<form action="/sodas" method="post">
  <p>Size: <input type="text" name="size"></p>
  <p>Name: <input type="text" name="name"></p>
  <p>Image Url: <input type="text" name="image_url"></p>
  <input type="submit" value="Make a new soda">
</form>