<!DOCTYPE html>
<html>
  <head>
    <title>SodaApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <a href="/sodas">Return to home</a>
    <a href="/sodas/new">Make a new soda</a>

    <%= yield %>
    
  </body>
</html>
